@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* typography  */
  --b1-font-size: 20px;
  --b1-line-height: 24px;

  --b2-font-size: 18px;
  --b2-line-height: 22px;

  --b3-font-size: 16px;
  --b3-line-height: 20px;

  --b4-font-size: 14px;
  --b4-line-height: 16px;

  --b5-font-size: 12px;
  --b5-line-height: 14px;

  --h1-font-size: 60px;
  --h1-line-height: 90px;

  --h2-font-size: 40px;
  --h2-line-height: 60px;

  --h3-font-size: 26px;
  --h3-line-height: 40px;

  --h4-font-size: 24px;
  --h4-line-height: 36px;

  --h5-font-size: 20px;
  --h5-line-height: 30px;

  --h6-font-size: 18px;
  --h6-line-height: 26px;

  /* responsive typography variables */
  --b1-b2-font-size: var(--b1-font-size);
  --b1-b2-line-height: var(--b1-line-height);
  --b1-b3-font-size: var(--b1-font-size);
  --b1-b3-line-height: var(--b1-line-height);
  --b1-b4-font-size: var(--b1-font-size);
  --b1-b4-line-height: var(--b1-line-height);
  --b2-b3-font-size: var(--b2-font-size);
  --b2-b3-line-height: var(--b2-line-height);
  --b2-b4-font-size: var(--b2-font-size);
  --b2-b4-line-height: var(--b2-line-height);
  --b3-b4-font-size: var(--b3-font-size);
  --b3-b4-line-height: var(--b3-line-height);
  --b3-b5-font-size: var(--b3-font-size);
  --b3-b5-line-height: var(--b3-line-height);
  --b4-b5-font-size: var(--b4-font-size);
  --b4-b5-line-height: var(--b4-line-height);

  --h1-h2-font-size: var(--h1-font-size);
  --h1-h2-line-height: var(--h1-line-height);
  --h1-h2-h3-font-size: var(--h1-font-size);
  --h1-h2-h3-line-height: var(--h1-line-height);
  --h2-h3-font-size: var(--h2-font-size);
  --h2-h3-line-height: var(--h2-line-height);
  --h2-h4-font-size: var(--h2-font-size);
  --h2-h4-line-height: var(--h2-line-height);
  --h3-h4-font-size: var(--h3-font-size);
  --h3-h4-line-height: var(--h3-line-height);
  --h3-h5-font-size: var(--h3-font-size);
  --h3-h5-line-height: var(--h3-line-height);
  --h4-h5-font-size: var(--h4-font-size);
  --h4-h5-line-height: var(--h4-line-height);
  --h5-h6-font-size: var(--h5-font-size);
  --h5-h6-line-height: var(--h5-line-height);

  /* Colors */
  --background: #f4f4f2;
  --foreground: #020a0d;

  /* Ocean Blue (oblue) */
  --blue: #0a3161;
  --blue-50: #e6eaef;
  --blue-100: #ced5df;
  --blue-200: #9dacbf;
  --blue-300: #6c83a0;
  --blue-400: #3b5a80;
  --blue-500: #0a3161;
  --blue-600: #082749;
  --blue-700: #061d32;
  --blue-800: #04131a;
  --blue-900: #020a0d;
  --blue-950: #010305;

  /* Ocean White (owhite) */
  --white: #f4f4f2;

  /* Ocean Accent (oaccent) */
  --accent: #b31942;
  --accent-400: #e0a3b3;
  --accent-500: #d1758d;
  --accent-600: #c24767;
  --accent-700: #b31942;
  --accent-800: #8f142f;
  --accent-900: #6b0f1c;

  /* light theme colors*/
  --color-a700-a900: var(--accent-700);
  --color-a700-a400: var(--accent-700);
  --color-a700-b200: var(--accent-700);
  --color-a700-b400: var(--accent-700);
  --color-a700-a500: var(--accent-700);
  --color-a900-a400: var(--accent-900);
  --color-a900-a500: var(--accent-900);
  --color-a900-b100: var(--accent-900);
  --color-a900-b200: var(--accent-900);
  --color-a900-b400: var(--accent-900);
  --color-a900-a700: var(--accent-900);

  --color-a800-b200: var(--accent-800);

  --color-b50-b950: var(--blue-50);
  --color-b50-b900: var(--blue-50);
  --color-b50-b800: var(--blue-50);
  --color-b50-b700: var(--blue-50);

  --color-b100-a400: var(--blue-100);
  --color-b100-b200: var(--blue-100);
  --color-b100-b700: var(--blue-100);
  --color-b100-b800: var(--blue-100);
  --color-b100-b900: var(--blue-100);
  --color-b100-w: var(--blue-100);

  --color-b200-b50: var(--blue-200);
  --color-b200-b500: var(--blue-200);
  --color-b200-b600: var(--blue-200);
  --color-b200-b700: var(--blue-200);

  --color-b300-a700: var(--blue-300);
  --color-b300-b200: var(--blue-300);

  --color-b400-b200: var(--blue-400);

  --color-b500-w: var(--blue-500);
  --color-b500-b100: var(--blue-500);

  --color-b600-b300: var(--blue-600);
  --color-b600-b100: var(--blue-600);

  --color-b700-w: var(--blue-700);
  --color-b700-b50: var(--blue-700);
  --color-b700-b100: var(--blue-700);
  --color-b700-b200: var(--blue-700);
  --color-b700-b400: var(--blue-700);

  --color-b800-b200: var(--blue-800);

  --color-b900-a400: var(--blue-900);
  --color-b900-a700: var(--blue-900);
  --color-b900-a900: var(--blue-900);
  --color-b900-b50: var(--blue-900);
  --color-b900-b100: var(--blue-900);
  --color-b900-b200: var(--blue-900);
  --color-b900-black: var(--blue-900);
  --color-b900-w: var(--blue-900);

  --color-black-b50: black;
  --color-black-a700: black;
  --color-black-w: black;

  --color-w-black: var(--white);
  --color-w-b50: var(--white);
  --color-w-b100: var(--white);
  --color-w-b200: var(--white);
  --color-w-b700: var(--white);
  --color-w-b800: var(--white);
  --color-w-b900: var(--white);

  @media (max-width: 768px) {
    --b1-b2-font-size: var(--b2-font-size);
    --b1-b2-line-height: var(--b2-line-height);
    --b1-b3-font-size: var(--b3-font-size);
    --b1-b3-line-height: var(--b3-line-height);
    --b1-b4-font-size: var(--b4-font-size);
    --b1-b4-line-height: var(--b4-line-height);
    --b2-b3-font-size: var(--b3-font-size);
    --b2-b3-line-height: var(--b3-line-height);
    --b2-b4-font-size: var(--b4-font-size);
    --b2-b4-line-height: var(--b4-line-height);
    --b3-b4-font-size: var(--b4-font-size);
    --b3-b4-line-height: var(--b4-line-height);
    --b3-b5-font-size: var(--b5-font-size);
    --b3-b5-line-height: var(--b5-line-height);
    --b4-b5-font-size: var(--b5-font-size);
    --b4-b5-line-height: var(--b5-line-height);

    --h1-h2-font-size: var(--h2-font-size);
    --h1-h2-line-height: var(--h2-line-height);
    --h1-h2-h3-font-size: var(--h2-font-size);
    --h1-h2-h3-line-height: var(--h2-line-height);
    --h2-h3-font-size: var(--h3-font-size);
    --h2-h3-line-height: var(--h3-line-height);
    --h2-h4-font-size: var(--h4-font-size);
    --h2-h4-line-height: var(--h4-line-height);
    --h3-h4-font-size: var(--h4-font-size);
    --h3-h4-line-height: var(--h4-line-height);
    --h3-h5-font-size: var(--h5-font-size);
    --h3-h5-line-height: var(--h5-line-height);
    --h4-h5-font-size: var(--h5-font-size);
    --h4-h5-line-height: var(--h5-line-height);
    --h5-h6-font-size: var(--h6-font-size);
    --h5-h6-line-height: var(--h6-line-height);
  }
  @media (max-width: 500px) {
    --h1-h2-h3-font-size: var(--h3-font-size);
    --h1-h2-h3-line-height: var(--h3-line-height);
  }
}

.dark {
  --background: #020a0d;
  --foreground: #f4f4f2;

  --color-a700-a900: var(--accent-900);
  --color-a700-a400: var(--accent-400);
  --color-a700-b200: var(--blue-200);
  --color-a700-b400: var(--blue-400);
  --color-a700-a500: var(--accent-500);
  --color-a900-a400: var(--accent-400);
  --color-a900-a500: var(--accent-500);
  --color-a900-b100: var(--blue-100);
  --color-a900-b200: var(--blue-200);
  --color-a900-b400: var(--blue-400);
  --color-a900-a700: var(--accent-700);

  --color-a800-b200: var(--blue-200);

  --color-b50-b950: var(--blue-950);
  --color-b50-b900: var(--blue-900);
  --color-b50-b800: var(--blue-800);
  --color-b50-b700: var(--blue-700);

  --color-b100-a400: var(--accent-400);
  --color-b100-b200: var(--blue-200);
  --color-b100-b700: var(--blue-700);
  --color-b100-b800: var(--blue-800);
  --color-b100-b900: var(--blue-900);
  --color-b100-w: var(--white);

  --color-b200-b50: var(--blue-50);
  --color-b200-b500: var(--blue-500);
  --color-b200-b600: var(--blue-600);
  --color-b200-b700: var(--blue-700);

  --color-b300-a700: var(--accent-700);
  --color-b300-b200: var(--blue-200);
  --color-b400-b200: var(--blue-200);

  --color-b500-w: var(--white);
  --color-b500-b100: var(--blue-100);

  --color-b600-b300: var(--blue-300);
  --color-b600-b100: var(--blue-100);

  --color-b700-b50: var(--blue-50);
  --color-b700-b100: var(--blue-100);
  --color-b700-b200: var(--blue-200);
  --color-b700-b400: var(--blue-400);
  --color-b700-w: var(--white);

  --color-b800-b200: var(--blue-200);

  --color-b900-a400: var(--accent-400);
  --color-b900-a700: var(--accent-700);
  --color-b900-a900: var(--accent-900);
  --color-b900-b50: var(--blue-50);
  --color-b900-b100: var(--blue-100);
  --color-b900-b200: var(--blue-200);
  --color-b900-black: black;
  --color-b900-w: var(--white);

  --color-black-b50: var(--blue-50);
  --color-black-a700: var(--accent-700);
  --color-black-w: var(--white);

  --color-w-black: black;
  --color-w-b50: var(--blue-50);
  --color-w-b100: var(--blue-100);
  --color-w-b200: var(--blue-200);
  --color-w-b700: var(--blue-700);
  --color-w-b800: var(--blue-800);
  --color-w-b900: var(--blue-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito-sans);
  font-weight: normal;
}

p {
  color: var(--color-b900-w);
  font-family: var(--font-sans);
  font-size: var(--b2-b3-font-size);
  line-height: var(--b2-b3-line-height);
}

span {
  color: black;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-header), sans-serif;
  color: var(--color-b900-w);
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 4px;
}

h1,
.h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
}

h2,
.h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
}

h3,
.h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
}

h4 {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
}

h5 {
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
}

.b1,
.b2,
.b3,
.b4,
.b5 {
  font-weight: normal;
}

.b1 {
  font-size: var(--b1-font-size);
  line-height: var(--b1-line-height);
}

.b2 {
  font-size: var(--b2-font-size);
  line-height: var(--b2-line-height);
}

.b3 {
  font-size: var(--b3-font-size);
  line-height: var(--b3-line-height);
}

.b4 {
  font-size: var(--b4-font-size);
  line-height: var(--b4-line-height);
}

.b5 {
  font-size: var(--b5-font-size);
  line-height: var(--b5-line-height);
}

.prose {
  ul {
    list-style-type: disc;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: var(--b3-b4-font-size);
    line-height: var(--b3-b4-line-height);

    ul {
      list-style-type: circle;
    }

    ol {
      list-style-type: decimal;
    }
  }

  ol {
    list-style-type: decimal;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: var(--b3-b4-font-size);
    line-height: var(--b3-b4-line-height);

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: lower-alpha;
    }
  }
}

.test-font-size {
  font-size: 48px;
  line-height: 72px;
}

.font-h1-h2 {
  font-size: var(--h1-h2-font-size);
  line-height: var(--h1-h2-line-height);
}

.font-h1-h2-h3 {
  font-size: var(--h1-h2-h3-font-size);
  line-height: var(--h1-h2-h3-line-height);
}

.font-h2-h3 {
  font-size: var(--h2-h3-font-size);
  line-height: var(--h2-h3-line-height);
}

.font-h2-h4 {
  font-size: var(--h2-h4-font-size);
  line-height: var(--h2-h4-line-height);
}

.font-h3-h4 {
  font-size: var(--h3-h4-font-size);
  line-height: var(--h3-h4-line-height);
}

.font-h3-h5 {
  font-size: var(--h3-h5-font-size);
  line-height: var(--h3-h5-line-height);
}

.font-h4-h5 {
  font-size: var(--h4-h5-font-size);
  line-height: var(--h4-h5-line-height);
}

.font-h5-h6 {
  font-size: var(--h5-h6-font-size);
  line-height: var(--h5-h6-line-height);
}

.font-b1-b2 {
  font-size: var(--b1-b2-font-size);
  line-height: var(--b1-b2-line-height);
}

.font-b1-b3 {
  font-size: var(--b1-b3-font-size);
  line-height: var(--b1-b3-line-height);
}

.font-b1-b4 {
  font-size: var(--b1-b4-font-size);
  line-height: var(--b1-b4-line-height);
}

.font-b2-b3 {
  font-size: var(--b2-b3-font-size);
  line-height: var(--b2-b3-line-height);
}

.font-b2-b4 {
  font-size: var(--b2-b4-font-size);
  line-height: var(--b2-b4-line-height);
}

.font-b3-b4 {
  font-size: var(--b3-b4-font-size);
  line-height: var(--b3-b4-line-height);
}

.font-b3-b5 {
  font-size: var(--b3-b5-font-size);
  line-height: var(--b3-b5-line-height);
}

.font-b4-b5 {
  font-size: var(--b4-b5-font-size);
  line-height: var(--b4-b5-line-height);
}
