@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f2;
  --foreground: #020a0d;

  /* Ocean Blue (oblue) */
  --blue: #0a3161;
  --blue-50: #e6eaef;
  --blue-100: #ced5df;
  --blue-200: #9dacbf;
  ---300: #6c83a0;
  --blue-400: #3b5a80;
  --blue-500: #0a3161;
  --blue-600: #082749;
  --blue-700: #061d32;
  --blue-800: #04131a;
  --blue-900: #020a0d;
  --blue-950: #010305;

  /* Ocean White (owhite) */
  --white: #f4f4f2;

  /* Ocean Accent (oaccent) */
  --accent: #b31942;
  --accent-400: #e0a3b3;
  --accent-500: #d1758d;
  --accent-600: #c24767;
  --accent-700: #b31942;
  --accent-800: #8f142f;
  --accent-900: #6b0f1c;

  /* light theme colors*/
  --color-a700-a900: var(--accent-700);
  --color-a700-b200: var(--accent-700);
  --color-a900-b100: var(--accent-900);
  --color-a900-b200: var(--accent-900);
  --color-a900-a700: var(--accent-900);

  --color-b50-b950: var(--blue-50);
  --color-b50-b900: var(--blue-50);
  --color-b50-b800: var(--blue-50);
  --color-b50-b700: var(--blue-50);
  --color-b200-b600: var(--blue-200);
  --color-b500-w: var(--blue-500);
  --color-b900-w: var(--blue-900);
  --color-b700-b400: var(--blue-700);

  --color-black-b50: black;
  --color-black-w: black;

  --color-w-black: var(--white);
  --color-w-b700: var(--white);
}

.dark {
  --background: #020a0d;
  --foreground: #f4f4f2;

  --color-a700-a900: var(--accent-900);
  --color-a700-b200: var(--blue-200);
  --color-a900-b100: var(--blue-100);
  --color-a900-b200: var(--blue-200);
  --color-a900-a700: var(--accent-700);

  --color-b50-b950: var(--blue-950);
  --color-b50-b900: var(--blue-900);
  --color-b50-b800: var(--blue-800);
  --color-b50-b700: var(--blue-7000);
  --color-b200-b600: var(--blue-600);
  --color-b500-w: var(--white);
  --color-b700-b400: var(--blue-400);
  --color-b900-w: var(--white);

  --color-black-b50: var(--blue-50);
  --color-black-w: var(--white);

  --color-w-black: black;
  --color-w-b700: var(--blue-700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
